extends layout

block styles
  link(rel='stylesheet', href='/stylesheets/market.css?v=1.0.4')

block scripts
  script(src='/javascripts/market.js')

block headerContent
  input#photo-uploader(type='file', accept='image/*', data-cod='#{usuario.cod}')
  aside.session-bar
    span.name-app El mercado de mamita
    if superMark != null
      div.super-market #{superMark.name}
      script(type='text/javascript') window['NOCARGAR'] = true;
    div.user-button
      span Hola, #{usuario.name}
      if usuario.photo != null
        div.user-photo(style='background-image: url("#{usuario.photo}")')
      else
        div.user-photo(style='background-image: url("sin-foto.jpg")')
  nav.user-menu
    if usuario.photo != null
      div.photo(style='background-image: url("#{usuario.photo}")')
    else
      div.photo(style='background-image: url("sin-foto.jpg")')
    div.info
      h1 #{usuario.name}
      h2 #{usuario.last_name}
      h3 #{usuario.email}
      button.exit Salir

block content
  if superMark == null
    section.supermarket-container.container
      div
        h2 Selecciona el supermercado
        div.super-item Consultando supermercados...
        button#add-super(type='button') Agregar
  else
    section.products-container.container
      div
        span contenido